<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Scottish Animal Shelter</title>
    <link rel='stylesheet' type="text/css" href='/style.css'>
    <link href="https://fonts.googleapis.com/css?family=Asul" rel="stylesheet">
  </head>
  <body>


    <%= yield %>
  </body>
</html>
