<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta charset="utf-8">
  <title>Scottish Animal Shelter</title>
  <link rel='stylesheet' type="text/css" href='/style.css'>
  <link href="https://fonts.googleapis.com/css?family=Asul" rel="stylesheet">
</head>
<body>


  <a href="/owners">Owners</a>
  <a href="/animals">Animals</a>
  <a href="/animals/new">New animal</a>
  <a href="/owners/new">New owner</a>
  <a href="/">Home</a>


  <main>
    <%= yield %>
  </main>
</body>
</html>
