body {
font-family: 'Asul', sans-serif;

  font-size: 40px;
  font-weight: 300;
  padding: 30px 0;
  background-color: lightblue;
  text-align: center;


}






img {
  width:300px;
    border-radius: 25px;
    border: 2px solid black;

}

.sub {
  width:200px;
  height:200px;
}
