<% @owners.each do |owner| %>
<div class="owner">
  <p>First name: <%= owner.first_name %></p>
  <p>Last name: <%= owner.last_name %></p>

</div>
<a href="/owners/<%= owner.id %>">Show details</a>
<br />
<br />
<% end %>
