<!-- <form method="post" action="/owners">
  <label for="first-name">First Name:</label>
  <input id="first-name" type="text" name="first_name" />

  <label for="last-name">Last Name:</label>
  <input id="last-name" type="text" name="last_name" />

  <label for="review-date">Review Date:</label>
  <input id="review-date" type="date" name="review_date" />

  <label for="address">Address:</label>
  <input id="address" type="text" name="address" />

  <label for="email">Email:</label>
  <input id="email" type="text" name="email" />

  <label for="phone">Phone:</label>
  <input id="phone" type="number" name="phone" />

  <input type="submit" value="New Owner" />

</form>  -->
